In [28]:
s1 = 'Python'
s2 = "Data Science"
s3 = """Line1
Line2"""

print(s1)
print(s2)
print(s3)

Python
Data Science
Line1
Line2

In [29]:
print("Py" + "thon")
print("ha" * 4)           
print("a" in "cat")    
print("abc" < "abd")

Python
hahahaha
True
True

In [32]:
l =["Akshat", "Jain"]
"Jain" in l

True

In [31]:
s = "Akshat"
print(s[0])  
print(s[-1])  

print(s[len(s)-1])

A
t
t

In [33]:
s = "Python"
print(s[1:4])    
print(s[:3])     
print(s[3:])     
print(s[5:1:-1])

yth
Pyt
hon
noht

In [34]:
print("one two three".split())
print("2026-02-10".split("-"))

['one', 'two', 'three']
['2026', '02', '10']

In [35]:
L = [10, 20, 30]
mixed = [1, "A", 3.5, True]
empty = []
print(L)
print(mixed)
print(empty)

[10, 20, 30]
[1, 'A', 3.5, True]
[]

In [36]:
L = [3, 1, 2]
L.append(5)    
print(L)
L.sort()          
print(L)
L.pop(2)
print(L)
L.remove(5)
print(L)
L.clear()
print(L)

[3, 1, 2, 5]
[1, 2, 3, 5]
[1, 2, 5]
[1, 2]
[]

In [37]:
print([1,2] + [3,4])
print([0]*4)
print(2 in [1,2,3])

[1, 2, 3, 4]
[0, 0, 0, 0]
True

In [38]:
iterator = [1, 2, 3, 4]

squares = [item * item for item in iterator]
print(squares)

[1, 4, 9, 16]

In [39]:
squares = [x*x for x in range(1,6)]
evens = [x for x in range(10) if x%2==0]
pairs = [(x,y) for x in [1,2] for y in [3,4,6]]
print(squares)
print(evens)
print(pairs)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]
[(1, 3), (1, 4), (1, 6), (2, 3), (2, 4), (2, 6)]

In [40]:
mat = [[1,2,3],[4,5,6]]
print(mat[1][2])   # 6

6

In [41]:
t1 = (1,2,3)
t2 = 1,2,3
t3 = (5,)

print(t1)
print(t2)
print(t3)

(1, 2, 3)
(1, 2, 3)
(5,)

In [42]:
t = (10,20,30,40)
print(t[1])
print(t[1:3])

20
(20, 30)

In [43]:
print((1,2,2,3).count(2))  
print((1,2,2,3).index(2))

2
1

In [44]:
T = ((1,2),(3,4))
print(T[1][0])

3

In [45]:
S = {1,2,3}
S2 = set([1,2,2,3])
empty_set = set()
print(S)
print(S2)
print(empty_set)

{1, 2, 3}
{1, 2, 3}
set()

In [46]:
A = {1,2,3}
B = {3,4,5}
print(A)
print(B)
print(A | B)
print(A & B)   
print(A - B)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [47]:
d = {"name":"Akshat", "age":18}
d2 = dict(a=1, b=2)
print(d)
print(d2)

{'name': 'Akshat', 'age': 18}
{'a': 1, 'b': 2}

In [48]:
print(d)
d["age"] = 18
print(d)
print(d.get("city", "NA"))

{'name': 'Akshat', 'age': 18}
{'name': 'Akshat', 'age': 18}
NA

In [49]:
student = {
  "name":"A",
  "marks":{"math":90, "python":95}
}
student["marks"]["python"]

95

In [51]:
a="Alookichat"
sorted(a)

['A', 'a', 'c', 'h', 'i', 'k', 'l', 'o', 'o', 't']

In [52]:
d = {"b":2, "a":5, "c":1}
print(sorted(d))
print(sorted(d.items()))
print(sorted(d.items(), key=lambda x: x[1]))

['a', 'b', 'c']
[('a', 5), ('b', 2), ('c', 1)]
[('c', 1), ('b', 2), ('a', 5)]

In [53]:
def add(a, b):
    return a + b

In [54]:
def f(a, b=10):
    return a+b

def g(*args):
    return sum(args)

def h(**kwargs):
    return kwargs

In [55]:
def area_circle(r):
    """Return area of circle for radius r."""
    return 3.14159 * r * r

In [56]:
area_circle.__doc__

'Return area of circle for radius r.'

In [57]:
sorted.__doc__

'Return a new list containing all items from the iterable in ascending order.\n\nA custom key function can be supplied to customize the sort order, and the\nreverse flag can be set to request the result in descending order.'

In [58]:
x = 10
def foo():
    x = 5
    return x

In [59]:
x=10
print(foo())
print(x)

5
10

In [76]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n - 1)

print(fact(4))

24

In [78]:
def square(n):
    return n * n

print(square(2))

4

In [79]:
def square(x):
    return x*x

In [80]:
l =[1,2,3,4]

In [81]:
def square(x):
    return x*x
new_list =[]
for each in l:
    new_list.append(square(each))

In [82]:
[x*x for x in l]
list(map(lambda x : x*x, l))

[1, 4, 9, 16]

In [83]:
def square(number):
    return number * number

numbers = [1, 2, 3, 4, 5]


squared_numbers = map(square, numbers)

print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [84]:
list(map(square, l))

[1, 4, 9, 16]

In [85]:
nums = [1,2,3]
list(map(lambda x: 100/x, nums))

[100.0, 50.0, 33.333333333333336]

In [86]:
nums = [1,2,3,4,5]
list(filter(lambda x: x%2==0, nums))

[2, 4]

In [87]:
def outer(msg):
    def inner():
        return msg.upper()
    return inner

f = outer("hello")
print(f)
print(f())

<function outer.<locals>.inner at 0x0000021B8B49F2E0>
HELLO

In [92]:
outer("bachaaoooo")()

'BACHAAOOOO'

In [93]:
def apply_twice(f, x):
    return f(f(x))

apply_twice(lambda a: a+1, 5)

7

In [94]:
def change_num(x):
    x = x + 1

def change_list(L):
    L.append(99)

a = 10
change_num(a)
print(a)

L = [1,2]
change_list(L)
print(L)

10
[1, 2, 99]